@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    height: 100%;
  }
  body {
    @apply bg-ink-50 text-ink-900 antialiased;
    font-feature-settings: "cv11", "ss01";
  }
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    @apply bg-ink-300 rounded-full;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
}
